.clock {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    position: relative;
    border-radius: 50%;
    background: #f0f1f2 url(face.png) center center;
    background-size: cover;
    box-shadow: rgba(0,0,0,.2) 0 5px 15px;
}

.clock .clock-h,
.clock .clock-m,
.clock .clock-s {
    position: absolute;
    width: 20px;
    height: 160px;
    background-color: #333333;
    border-radius: 8px;
    left: calc(50% - 10px);
    top: calc(50% - 130px);
    transform-origin: 50% 130px;
}
.clock .clock-m {
    width: 12px;
    height: 180px;
    background-color: #777777;
    left: calc(50% - 6px);
    top: calc(50% - 145px);
    transform-origin: 50% 145px;
    z-index: 1;
}
.clock .clock-s {
    width: 6px;
    height: 200px;
    background-color: #be2a2a;
    left: calc(50% - 3px);
    top: calc(50% - 160px);
    transform-origin: 50% 160px;
    z-index: 2;
}
.clock .clock-nail {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #000000;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    border-radius: 50%;
    z-index: 3;
}

.clock .clock-d {
    position: absolute;
    padding: .25em .5em;
    border: 2px solid #be2a2a;
    border-radius: 3px;
    top: 50%;
    left: 60%;
    z-index: 100;
}